body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding: 10svh 10vw;
  background-color: var(--color-bg-primary);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__title {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5svh 5vw;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aside__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aside__section-span {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}

.aside__section-span:hover {
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background-color: var(--color-bg-secondary);
}

.aside__section-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-wrap: nowrap;
}

.aside__form,
.aside__form-fieldset {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}

.aside__form-text,
.aside__form-number,
.aside__form-button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: var(--color-bg-secondary);
}

.aside__form-button {
  margin-top: 1rem;
}

.aside__form-text:hover,
.aside__form-number:hover,
.aside__form-button:hover {
  border: 1px solid var(--color-border);
}

.main__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.main__section-form,
.main__section-fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  padding: 0.5rem;
  gap: 1rem;
}

.main__section-text,
.main__section-button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: var(--color-bg-secondary);
}

.main__section-text:hover,
.main__section-button:hover {
  border: 1px solid var(--color-border);
}

.main__database {
  display: flex;
  height: min-content;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  line-height: 1.5rem;
  overflow: auto;
}

.main__table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;

}

.main__table-head,
.main__table-list:nth-child(even) {
  background-color: var(--color-bg-secondary);
}

.main__table-item {
  height: 10px;
  padding: 0.5rem;
  text-align: start;
}

.hide {
  display: none;
}

@media screen and (min-width: 960px) {
  .main__wrapper {
    flex-direction: row;
  }
}