body {
  min-width: 320px;
  background-color: var(--color-bg-primary);
}

.header {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.header__nav {
  display: flex;
}

.header__nav-list {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10svh 8vw;
  gap: 1.5rem;
}

.main__card {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 25%;
  max-width: 300px;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--color-bg-secondary);
}

.main__card-image {
  border-radius: 0.5rem;
}

.main__card-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.main__card-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.main__card-breed {
  color: var(--color-text-secondary);
}
