* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

::-moz-selection {
  background-color: var(--color-text-primary);
  color: var(--color-bg-primary);
}

::selection {
  background-color: var(--color-text-primary);
  color: var(--color-bg-primary);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
  width: 1.8rem;
  height: 1.5rem;
  padding: 1px;
}

i {
  display: block;
  text-align: center;
  width: 1.8rem;
  font-size: 1.5rem;
}

body {
  width: 100%;
  min-height: 100svh;
  font-size: 100%;
  font-family: var(--font-secondary);
  color: var(--color-text-primary);
}
