:root {
  --color-bg-primary: rgb(225, 225, 225);
  --color-bg-secondary: rgb(215, 215, 215);
  --color-text-primary: rgb(30, 30, 30);
  --color-text-secondary: rgb(100, 100, 100);

  --color-highlight-primary: rgb(34, 200, 128);
  --color-highlight-secondary: rgb(34, 200, 45);
  --color-highlight-tertiary: rgb(106, 200, 34);
  --color-highlight-quaternary: rgb(34, 189, 200);

  --font-primary: sans-serif;
  --font-secondary: sans-serif;

  @media (prefers-color-scheme: dark) {
    --color-bg-primary: rgb(30, 30, 30);
    --color-bg-secondary: rgb(40, 40, 40);
    --color-text-primary: rgb(225, 225, 225);
    --color-text-secondary: rgb(155, 155, 155);

    --color-highlight-primary: rgb(54, 220, 148);
    --color-highlight-secondary: rgb(54, 220, 65);
    --color-highlight-tertiary: rgb(126, 220, 54);
    --color-highlight-quaternary: rgb(54, 209, 220);
  }
}
