@use "variables";
@use "reset";
@use "mixins" as *;

body {
    @include flex(column, center);
    padding: 10svh 10vw;
}

.main {
    @include flex(column, center);
    gap: 4rem;

    &__title {
        @include text()
    }

    &__section {
        @include flex(column);
        gap: 2rem;
    }

    &__create {
        @extend .main__section;

        &-subtitle {
            @include text(1.2rem)
        }

        &-form {
            @include flex(column);
            width: 100%;
        }

        &-fieldset {
            @extend .main__create-form;
            gap: 2rem;
        }

        &-label {
            font-weight: bold;
        }

        &-input {
            width: 100%;
            padding: 0.5rem 1rem;
            border: 1px solid transparent;
            border-radius: 0.5rem;
            background-color: var(--color-bg-secondary);

            &:hover:not(:disabled) {
                border: 1px solid var(--color-border);
            }
        }

        &-button {
            @extend .main__create-input;
            margin-top: 1rem;

            &:disabled {
                color: var(--color-text-secondary);
            }
        }
    }

    &__trivia {
        @extend .main__section;

        &-subtitle {
            @include text(1.2rem)
        }

        &-form {
            @include flex(column);
            width: 100%;
        }

        &-fieldset {
            @extend .main__trivia-form;
            gap: 2rem;
        }

        &-label {
            font-weight: bold;
        }

        &-input {
            width: 100%;
            padding: 0.5rem 1rem;
            border: 1px solid transparent;
            border-radius: 0.5rem;
            background-color: var(--color-bg-secondary);

            &:hover:not(:disabled) {
                border: 1px solid var(--color-border);
            }
        }

        &-button {
            @extend .main__trivia-input;
            margin-top: 1rem;

            &:disabled {
                color: var(--color-text-secondary);
            }
        }

        &-info {
            @include flex(row, center, space-between);
            width: 100%;
            flex-wrap: wrap;
            gap: 0.5rem;
        }

        &-question {
            width: 100%;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: var(--color-bg-secondary);
        }

        &-answers {
            @include flex();
            flex-wrap: wrap;
            gap: 1rem;

            input[type="radio"]:checked+label {
                background-color: var(--color-border)
            }
        }

        &-answer {
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: var(--color-bg-secondary);
            border: 1px solid transparent;

            &:hover:not(&--correct) {
                border: 1px solid var(--color-border);
            }

            &--correct {
                border: 1px solid green;
            }
        }
    }
}

.hidden {
    display: none;
}